---

# Source: cert-manager/charts/webhook/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}-webhook
  namespace: {{ k8s_namespace }}
  labels:
    app: webhook
