---

# Source: cert-manager/charts/cainjector/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}-cainjector
  namespace: {{ k8s_namespace }}
  labels:
    app: cainjector

---

# Source: cert-manager/charts/webhook/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}-webhook
  namespace: {{ k8s_namespace }}
  labels:
    app: webhook

---

# Source: cert-manager/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ app_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: cert-manager
