---

apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-webhook
  namespace: {{ k8s_namespace }}
  labels:
    app: webhook
spec:
  type: ClusterIP
  ports:
    - name: https
      port: 443
      targetPort: 6443
  selector:
    app: webhook
